* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
    height: 60px;
}

.nav h1 {
    color: #F17228;
    font-size: 25px;
}

.nav span {
    color: #FFB30E;
}

.p {
    color: black;
}

.bx-map {
    color: #F17228;
    font-weight: 600;
    font-size: 20px;
}

.se {
    font-weight: 500;
}

.log {
    padding: 4px 10px;
    border-radius: 8px;
    box-shadow: 0px 10px 19px -2px rgba(241, 114, 40, 0.75);
    -webkit-box-shadow: 0px 10px 19px -2px rgba(241, 114, 40, 0.75);
    -moz-box-shadow: 0px 10px 19px -2px rgba(241, 114, 40, 0.75);
}

.bx-search-alt-2 {
    color: #F17228;
    font-size: 20px;
    padding: 0px 10px;

}

.bxs-user {
    color: #F17228;
    font-size: 20px;
}

.butto {
    display: flex;
    column-gap: 20px;

}

/* ============================ Section ================================ */
.sec {
    background: #FFB30E;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
}

.sec h1 {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
}

.sec p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
}

/* ======================= form============================== */
.blaw {
    background: white;
    padding: 25px;
    border-radius: 10px;
}

.btns {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.bx-cycling {
    color: #FFB30E;
    font-weight: 600;
    padding-right: 20px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

.bx-shopping-bag {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

.inp {
    margin-top: 30px;
}

.inp input {
    border: none;
    outline: none;
}

.inp button {
    border: none;
    background: #F65900;
    padding: 4px 10px;

}

.bt {
    color: white !important;
    height: 100%;
    width: 100;
    font-size: 12px;
    border-radius: 8px;
}

.bts {
    display: flex;
    justify-content: center;
}


/* ==================== Cards ======================= */
.card3 {
    display: flex;
    flex: 1 1 17rem;
    justify-content: center;
    column-gap: 20px;
    margin-top: 100px;
}

.card3 img {
    width: 100%;
}

.text-c {}

.card1 {
    position: relative;
}

.card1 h1 {
    font-size: 17px;
    font-weight: 900;
    margin: 15px 0px;
    color: #424242;
}

.card1 p {
    font-weight: 700;
    color: #F17228;
    font-size: 16px;
    background: #f1722860;
    width: 160px;
    padding: 2px 12px;
    border-radius: 8px;
}

.card-cont {
    margin: auto;
    text-align: center;
}

.card-cont h1 {
    text-align: center;
    font-family:
        Source Sans Pro;
    margin-top: 40px;
}

.bxs-map {
    font-size: 86px;
    color: #FFB30E;
    margin: 0px 0px;
}

.bxs-bowl-rice {
    font-size: 86px;
    color: #FFB30E;
    margin: 0px 0px;
}

.bxs-food-menu {
    font-size: 86px;
    color: #FFB30E;
    margin: 0px 0px;
}

.bxs-baguette {
    font-size: 86px;
    color: #FFB30E;
    margin: 0px 0px;
}

.card2 {
    width: 300px;
}

.card2 H5 {
    font-weight: 700;
    color: #434343;
    font-size: 17px;
}

.card2 p {
    font-weight: 400;
    color: #9E9E9E;
}
/* ============================ popular items ========================= */
.bm{
    font-size: 15px;
}
.popular{
    margin: auto;
}
.popular h1{
    text-align: center;
    margin: 100px 0px;
    text-align: center;
    font-family:
        Source Sans Pro;
  
}
.box1 img{
border-radius: 10px;
width: 200px;
}
.box1 h5{
    font-size: 17px;
    font-weight: 700;
    color: #424242;
    margin: 10px 0px;
}
.box1 h6{
font-weight: 700;
color: #424242;
}
.pop-btn{
    font-size: 13px;
    padding: 7px 14px;
    width: 100%;
    border-radius: 5px;
    font-weight: 700;
    color: white;
    background: #F65900;
    border: none;
    outline: none;
}

/* ==================================== Featured Resturant ========================= */

.featured h1{
    text-align: center;
    margin-top: 100px;
    text-align: center;
    margin: 100px 0px;
    text-align: center;
    font-family:
        Source Sans Pro;
}
.featured{
    margin: auto;
    width: 100%;
}
.card4{
    display: flex;
    column-gap: 40px;
    /* flex: 1 1 17rem; */
    justify-content: center;
}
.cart1{
    display: flex;
    margin: 10px 0px;
    column-gap: 10px;
}
.cart1 h5{
    font-size: 17px;
    font-weight: 700;
    color: #424242;
    margin: 10px 0px;   
}
.cart1 img{
    width: 50px;
    height: 50px;
}
.bxs-star{
    color: #FFB30E;
}
.cart-cont{
    line-height: 10px;
}
.box1 p{
      font-weight: 700;
    color: #79B93C;
    font-size: 16px;
    background: #78b93c63;
    width: 160px;
    padding: 2px 12px;
    border-radius: 8px;

}
.featured-r2{
    margin-top: 80px;
}
.featured h6{
    padding: 11px 7px;
    color: white;
    background:#FFB30E;
    margin: auto;
    text-align: center;
    font-size: 14px;
    width: 100px;
    border-radius: 10px;
    margin-top: 50px;
    transition: all 0.3s linear;
}
.featured h6:hover{
    box-shadow: 0px 10px 19px -2px rgba(241, 114, 40, 0.75);
    -webkit-box-shadow: 0px 10px 19px -2px rgba(241, 114, 40, 0.75);
    -moz-box-shadow: 0px 10px 19px -2px rgba(241, 114, 40, 0.75);
}   





/* ======================= Search Food ========================= */

.s-food{
    margin-top: 100px;
}
.s-food h1 {
    margin-bottom: 50px;
}
.card4{
  text-align: center;

}
.circle img {
    width: 150px;
    border-radius: 50%;
}
.circle h4{
    font-size: 16px;
    margin: 10px 0px;
    font-weight: 700;
    color: #424242;
}
.img img{
    width: 100%;
    margin-top: 50px;
}


/* ========================== Best Deals ======================== */

.deal-c{
    margin-top: 100px;
}
.deal-text{
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.deal-text h1{
    font-weight: 800;
    font-size: 30px;
}
.deal-text p{
    font-weight: 300;
    font-size: 16px;
    margin: 10px 0px;
}
.deal-text span{
    color: #FFB30E;
}
.deal-img img{
    width: 100%;
    border-radius: 0px 10px 10px 0px;
}
.deal-text a{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background:#FFB30E;
    text-align: center;
    padding: 11px 6px;
    border-radius: 8px;
    margin-top: 50px;
}
.deal-text a:hover{
    text-decoration: underline;
}
/* ===================== */
.are{
    background-image: url(p/Image\ \(32\).png);
    background-position: center;
    background-size: cover;
 
    height: 20vh;
    text-align: center;
}
.are h1{
    font-weight: 700;
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
}
.are a{
    text-decoration: none;
    background: #F65900;
    color: white;
    font-weight: 700;
    padding: 11px 18px;
    border-radius: 4px;
    font-size: 11px;
    text-align: center;
    margin-top: 50px;
    
}
/* ===================================== Footer ======================= */
.footer h4{
    padding: 70px 0px;
    font-weight: 800;
    color: white;
}
.footer{
    background: #424242;
    color: rgb(194, 188, 188);

}
.foot{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.foot hr{
    width: 50%;
}
.foot1 {
 margin-left: 90px;
 margin-top: 50px;
}
.foot1 h5{
    margin: 20px 0px ;
    font-weight: 700;
    font-size: 22px;
    color: white;
}
.foot-l{
   
}
.mail input{
    color: #424242;
    background: #262323;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
}
.mail a{
    text-decoration: none;
    color: white;
    padding: 10px 5px;
    background: #F17228;
    border-radius: 4px;
    box-shadow: 0px 10px 19px -2px rgba(241, 114, 40, 0.75);
    -webkit-box-shadow: 0px 10px 19px -2px rgba(241, 114, 40, 0.75);
    -moz-box-shadow: 0px 10px 19px -2px rgba(241, 114, 40, 0.75);
}
.last1 span{
    color: white;
    font-size: 18px;
}
.last{
    display: flex;
    justify-content: space-between;
}